body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
  overflow: hidden; /* Prevent scrolling */
}

#header-container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #007BFF;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 36px;
  font-weight: bold;
}

#gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px); /* Fullscreen height minus header height */
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Add padding for headline */
  text-align: center;
  width: 80%; /* 80% of the screen width */
  max-width: 900px; /* Maximum width for large screens */
  height: 75vh; /* Adjust height to accommodate headline */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  transition: transform 1s ease-in-out;
  opacity: 0;
}

.card-image {
  width: 100%;
  height: 50%; /* 35% of the card height */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  border-radius: 16px 16px 0 0; /* Rounded top corners */
}

h1 {
  font-size: 36px; /* Adjusted font size */
  margin: 20px 0 10px;
  color: #007BFF;
}

.fun-fact {
  background-color: #f9f9f9;
  border-radius: 0 0 12px 12px; /* Rounded bottom corners */
  padding: 20px;
  flex-grow: 1; /* Allow the fun-fact container to grow and fill space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

p {
  font-size: 32px; /* Adjusted font size */
  margin: 10px 0;
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.fade-in-right {
  animation: fadeInRight 1s forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s forwards;
}
