body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  overflow: hidden; /* Prevent scrolling */
}

#header-container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
}

#gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px); /* Fullscreen height minus header height */
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin-top: 80px; /* Ensure gallery is below the header */
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  width: 70%; /* 70% of the screen width */
  max-width: 800px; /* Maximum width for large screens */
  height: 70vh; /* 70% of the screen height */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align text to the bottom */
  position: absolute;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  overflow: hidden; /* Ensure content does not overflow */
}

.card-content {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 0 0 16px 16px; /* Match card border radius */
}

h1 {
  font-size: 28px; /* Adjusted font size */
  margin: 10px 0;
  color: #bb86fc;
}

p {
  font-size: 24px; /* Adjusted font size */
  margin: 10px 0;
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.fade-in-right {
  animation: fadeInRight 1s forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s forwards;
}
